.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #ad0000;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: #ad0000;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #ad0000;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #ad0000;
}
