.journey-slide-wrapper {
  position: relative;
  overflow: hidden;
  min-width: 100%;
  max-height: 100vh;
  padding-bottom: 30px;
}

.image-container {
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  transform: translateX(-100%);
  opacity: 0;
  transition: 700ms;
}

.image {
  width: 100%;
  height: auto;
}

.journey-text-container {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 30px;
}

/* Animations */

.image-container.show {
  transform: translateX(0);
  opacity: 1;
  filter: brightness(50%);
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.text {
  gap: 10px;
  transform: translateX(100%);
  opacity: 0;
  transition: 700ms 700ms;
}

.text.show {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
}

.heading {
  gap: 10px;
  transform: translateX(100%);
  opacity: 0;
  transition: 700ms;
  transition-delay: calc(1 * (400ms));
}

.heading.show {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
}

.text:nth-child(2) {
  transition-delay: calc(2 * (300ms));
}

.text:nth-child(3) {
  transition-delay: calc(3 * (300ms));
}

.text:nth-child(4) {
  transition-delay: calc(4 * (300ms));
}

.text:nth-child(5) {
  transition-delay: calc(5 * (300ms));
}

.text:nth-child(6) {
  transition-delay: calc(6 * (300ms));
}

.text:nth-child(7) {
  transition-delay: calc(7 * (300ms));
}

/* Mobile responsive */

@media only screen and (max-width: 1200px) {
  .journey-slide-wrapper {
    min-width: unset;
    max-height: unset;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .image-container {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    transform: none;
    opacity: 1;

    transition: none;
  }

  .image-container.show {
    filter: brightness(100%);
  }

  .image {
    width: 100%;
    height: auto;
  }

  .journey-text-container {
    position: relative;
    top: unset;
    right: unset;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: #fff;
    box-sizing: border-box;
    gap: 30px;
    text-align: left;
  }

  .text.show {
    transform: unset;
    opacity: 1;
    filter: blur(0);
    transition: none;
  }

  .heading.show {
    transform: unset;
    opacity: 1;
    filter: blur(0);
    transition: none;
  }

  .hidden {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

@media only screen and (max-width: 767px) {
  .journey-slide-wrapper {
    width: 90%;
  }

  .image-container {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    transform: none;
    opacity: 1;
    filter: brightness(50%);
    transition: none;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .journey-text-container {
    position: static;
  }
}
