.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px;
}

.destination-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.image-grid-container {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.largeImage {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}

.smallImages {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;
}

.arrow-icon {
  color: var(--bg-pink-brown);
  cursor: pointer;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60em;
}

.header-container {
  margin: 1em 0;
}

.paragraph-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
