.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px;
}

/* DestinationPage styles */
.wrapper {
  background-color: var(--bg-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200em;
}

.imageSlider-wrapper {
  width: 80%;
}

.text-container {
  width: 60%;
  margin: 4em 0;
}

.text-container h2 {
  margin-bottom: 0.5em;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
