.content-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.youtube-holder {
  background-image: url("https://media.discordapp.net/attachments/1084295088739471451/1086015257715167362/Hernok_Vikings_on_a_voyage_through_europe_sleeping_on_the_ship._861ec5d8-5b26-4882-9b93-0b164f9dd4ca.png?width=1576&height=909");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 607.5px;
  max-width: 1080px;
  max-height: 607.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.youtube-holder > iframe {
  width: 100%;
  height: 100%;
}

.offline-text {
  color: var(--light-text-color);
  background-color: rgba(0, 0, 0, 0.6);
  font-size: var(--heading-two);
}
