.blog-page-wrapper {
  background-color: var(--bg-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  width: 100%;
  padding: 12rem 0;
}

.blog-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  justify-items: center;
  max-width: 200rem;
  width: 100%;
  column-gap: 4rem;
  row-gap: 10rem;
}

.blog-id-skeleton-wrapper {
  height: 100vh;
  background-color: var(--bg-dark-blue);
}

.blog-skeleton-wrapper {
  justify-content: center;
  display: flex;
  height: 100vh;
  background-color: var(--bg-dark-blue);
}

.blog-id-container {
  padding: 4rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.blog-id-wrapper {
  background-color: var(--bg-dark-blue);
}

.blog-id-first-section {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.blog-id-second-section {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
  box-sizing: border-box;
  width: 80%;
}

.second-section-text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.show-more-btn {
  padding: 2rem;
  background-color: var(--bg-pink-brown);
  color: var(--light-text-color);
  font-size: var(--p--step-1);
  border-radius: 2.2rem;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}

.show-more-btn:hover {
  background-color: var(--very-dark-blue);
  transition: 0.5s;
}

@media screen and (max-width: 1650px) {
  .blog-page-container {
    width: 90%;
  }
}

@media screen and (max-width: 1100px) {
  .blog-page-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  .blog-page-container {
    row-gap: 6rem;
  }
}
