.paragraphs {
  font-family: "Comfortaa";
}

.light {
  color: var(--light-text-color);
}

.dark {
  color: var(--dark-text-color);
}

.paragraphs-l {
  font-size: var(--paragraph-size-l);
}

.paragraphs-sm {
  font-size: var(--paragraph-size-sm);
}

@media screen and (max-width: 50rem) {
  .paragraphs-truncated {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
