.hero-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-burger-wrapper {
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: flex-end;
}

.hero-background {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-text-container {
  position: absolute;
  top: 10rem;
  left: 10rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wave-container {
  position: absolute;
  bottom: 0rem;
  width: 100%;
}
