.section-wrapper {
  background-color: var(--bg-dark-blue);
  position: relative;
  z-index: 2;
}

.section-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 125rem;
  gap: 6rem;
}

.text-container {
  display: flex;
  justify-content: space-between;
  padding: 0 clamp(0rem, 10rem, 15rem);
  text-align: center;
}

.paragraph-container {
  max-width: 50%;
}

@media screen and (max-width: 1400px) {
  .text-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
  }
  .paragraph-container {
    max-width: 90%;
  }

  .section-container {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 1200px) {
  .section-container {
    padding-bottom: 8rem;
  }
}

@media screen and (max-width: 750px) {
  .section-container {
    padding: 0 2rem 6rem 2rem;
  }
}
