.card {
  display: flex;
  flex-direction: column;
  height: 48rem;
  max-width: 36rem;
  background-color: var(--very-dark-blue);
  border-radius: 0.8rem;
  overflow: hidden;
}

.card-image {
  object-fit: cover;
}

.card-content-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
