/* index and id files style */

.crew-id-skeleton-wrapper {
  min-height: 100vh;
  background-color: var(--bg-dark-blue);
  justify-content: center;
  display: flex;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  align-items: center;
}

.card-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  max-width: 850px;
  padding: 2rem;
}

/* index.tsx styling only */
.crew-links-wrapper {
  padding: 5rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  background-color: var(--very-dark-blue);
  box-shadow: var(--box-shadow);
}

.crews-links {
  color: var(--light-text-color);
  text-decoration: none;
  font-size: var(--p--step-4);
  font-family: "Norse";
}

.crews-links:hover {
  text-shadow: 2px 2px 2px var(--bg-pink-brown);
}

/* [id].tsx styling only */
@media only screen and (max-width: 850px) {
  .card-container {
    max-width: 800px;
    justify-content: center;
    padding-bottom: 3rem;
    gap: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .card-container {
    max-width: 600px;
    padding: 0;
  }
}

@media only screen and (max-width: 425px) {
  .card-container {
    max-width: 425px;
    padding: 0;
  }
}
