.big-card-wrapper,
.small-card-wrapper {
  background-color: var(--very-dark-blue);
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: var(--box-shadow-xd);
}

.big-card-wrapper {
  max-width: 50rem;
}

.small-card-wrapper {
  max-width: 23rem;
}

.image-wrapper {
  background-color: white;
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper-small {
  background-color: white;
  width: 230px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-height: 100%;
  width: 100%;
  height: auto;
}

.card-text-wrapper {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media only screen and (max-width: 600px) {
  .big-card-wrapper {
    max-width: 400px;
  }
  .small-card-wrapper {
    max-width: 190px;
  }
  .image-wrapper {
    max-width: 400px;
  }
  .image-wrapper-small {
    max-width: 190px;
  }
}

@media only screen and (max-width: 425px) {
  .big-card-wrapper {
    max-width: 350px;
  }
  .small-card-wrapper {
    max-width: 165px;
  }
  .image-wrapper-small {
    max-width: 165px;
  }
  .image-wrapper {
    max-width: 350px;
  }
}
