.parallax-text-container {
  margin: 0;
  background-color: var(--bg-dark-blue);
  height: 8000px;
  width: 100%;
  flex-direction: column;
  gap: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
