:root {
  --bg-dark-blue: #142c34;
  --bg-pink-brown: #bf625f;
  --very-dark-blue: #172327;
  --light-text-color: #e7ffff;
  --dark-text-color: #000;
  --light-background-color: #f2f2f2;
  --donate-button: #31754b;
  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --box-shadow-xd: rgba(0, 0, 0, 0.35) 20px 17px 10px;
  --main-font: "Comfortaa";
  --second-font: "Norse";

  /*----------Hamburger----------*/
  --bar-width: 50px;
  --bar-height: 6px;
  --hamburger-gap: 8px;
  --hamburger-margin: 1rem;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --animation-timing: 200ms ease-in-out;

  /* FONT SIZES HEADINGS */
  --h--step-0: clamp(1.3rem, calc(-0.07rem + 6.65vw), 4rem);
  --h--step-1: clamp(1.35rem, calc(-0.08rem + 7.16vw), 5.47rem);
  --h--step-2: clamp(1.62rem, calc(-0.19rem + 9.07vw), 6.84rem);
  --h--step-3: clamp(1.94rem, calc(-0.35rem + 11.48vw), 8.55rem);
  --h--step-4: clamp(2.33rem, calc(-0.57rem + 14.52vw), 10.68rem);
  --h--step-5: clamp(2.8rem, calc(-0.87rem + 18.35vw), 13.35rem);

  /* FONT SIZES PARAGRAPHS */
  --p--step--1: clamp(0.83rem, calc(0.71rem + 0.64vw), 1.2rem);
  --p--step-0: clamp(1rem, calc(0.83rem + 0.87vw), 1.5rem);
  --p--step-1: clamp(1.2rem, calc(0.97rem + 1.17vw), 1.88rem);
  --p--step-2: clamp(1.44rem, calc(1.13rem + 1.57vw), 2.34rem);
  --p--step-3: clamp(1.73rem, calc(1.31rem + 2.09vw), 2.93rem);
  --p--step-4: clamp(2.07rem, calc(1.52rem + 2.76vw), 3.66rem);

  /* PADDING */
  --section-padding: 8rem;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
}

p {
  line-height: 1.2;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../../src/fonts/comfortaa/Comfortaa-Regular.eot");
  src: url("../../src/fonts/comfortaa/Comfortaa-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../src/fonts/comfortaa/Comfortaa-Regular.woff2") format("woff2"),
    url("../../src/fonts/comfortaa/Comfortaa-Regular.woff") format("woff"),
    url("../../src/fonts/comfortaa/Comfortaa-Regular.ttf") format("truetype"),
    url("../../src/fonts/comfortaa/Comfortaa-Regular.svg#Comfortaa-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Norse";
  src: url("../../src/fonts/norse/Norse.eot");
  src: url("../../src/fonts/norse/Norse.eot?#iefix") format("embedded-opentype"),
    url("../../src/fonts/norse/Norse.woff2") format("woff2"),
    url("../../src/fonts/norse/Norse.woff") format("woff"),
    url("../../src/fonts/norse/Norse.ttf") format("truetype"),
    url("../../src/fonts/norse/Norse.svg#Norse") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ---------- SWIPER BLOG ---------- */
.previewSwiper .swiper-slide {
  opacity: 0.4;
}
.previewSwiper .swiper-slide-thumb-active {
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .mapboxgl-ctrl-top-right {
    margin-top: 23rem;
  }
}

/* ---------- SWIPER PRESS ARCHIVE ---------- */

.image-swiper {
  grid-area: swiper;
  width: 100%;
}

.image-swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #ffffff;
  opacity: 1;
  background: rgba(255, 255, 255, 0.3);
}

.image-swiper .swiper-pagination-bullet-active {
  color: #ffffff;
  background: #ffffff;
}
