.card {
  width: 50em;
  height: fit-content;
  background-color: var(--very-dark-blue);
  padding: 2em 1em;
}

.header-container,
.paragraph-container {
  margin-bottom: 2em;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.image-container {
  display: flex;
  width: 100%;
  gap: 4em;
  flex-wrap: wrap;
}
