.card {
  width: 70%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
}

.date-container {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.header-container,
.paragraph-container {
  margin-bottom: 2em;
  width: fit-content;
  height: fit-content;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.image-container {
  display: grid;
  align-items: center;
  grid-template-areas: "prev swiper next";
}

.image-swiper {
  grid-area: swiper;
  width: 100%;
}

.swiper-nav-prev {
  grid-area: prev;
}

.swiper-nav-next {
  grid-area: next;
}

.images {
  width: 280px;
  height: 330px;
}

.image {
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  object-fit: fill;
  width: 100%;
}

.image:hover {
  opacity: 1;
}

.download {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.download {
  position: relative;
}

.download:hover::before {
  content: "Download article";
  display: block;
  position: absolute;
  left: -50%;
  transform: translateY(-120%);
  padding: 5px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}

.download:hover {
  cursor: pointer;
}

.arrow-icon {
  color: var(--bg-pink-brown);
}

.swiper-pagination-bullet {
  color: red;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: var(--light-text-color);
}

@media screen and (max-width: 950px) {
}
