.grid-wrapper {
  width: 100%;
  background-color: var(--bg-pink-brown);
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  overflow: hidden;
}

.livestream-wrapper {
  padding: var(--section-padding) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}

.youtubeLink-wrapper {
  width: 90%;
  max-width: 1080px;
}

.map-container {
  position: relative;
}

.map-wave-wrapper {
  width: 100%;
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .sponsor-us-wrapper {
    padding: 0 0 8rem 0;
  }
}
