.grid-wrapper {
  width: 100%;
  background-color: var(--bg-pink-brown);
  display: flex;
  justify-content: center;
  padding: var(--section-padding) 0;
}

.livestream-wrapper {
  padding: var(--section-padding) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.wave-container {
  position: relative;
  overflow: hidden;
  bottom: 10rem;
}

.map-container {
  margin-top: -10rem;
}

@media screen and (max-width: 75rem) {
  .wave-container {
    bottom: 2rem;
  }

  .map-container {
    margin-top: -2rem;
  }
}