.grid-wrapper {
  width: 100%;
  background-color: var(--bg-pink-brown);
  display: flex;
  justify-content: center;
  padding: 5rem 0 16rem 0;
}

.livestream-wrapper {
  padding: var(--section-padding) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.sponsor-us-wrapper {
  background-color: var(--bg-pink-brown);
  padding: 12rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;
}

@media screen and (max-width: 75rem) {
  .sponsor-us-wrapper {
    padding: 0 0 8rem 0;
  }
}
