.heading {
  font-family: "Norse";
}

.dark {
  color: var(--dark-text-color);
}

.light {
  color: var(--light-text-color);
}

/* H1 */
.heading-one {
  font-size: var(--h--step--3);
}

.heading-one-home {
  font-size: var(--h--step-5);
}

/* H2 */
.heading-two {
  font-size: var(--h--step-1);
}

/* H3 */
.heading-three {
  font-size: var(--h--step-0);
}
