.heading {
  font-family: "Norse";
}

.dark {
  color: var(--dark-text-color);
}

.light {
  color: var(--light-text-color);
}

/* H1 */
.heading-one {
  font-size: var(--heading-one);
}

.heading-one-home {
  font-size: 11rem;
}

/* H2 */
.heading-two {
  font-size: var(--heading-two);
}

/* H3 */
.heading-three {
  font-size: var(--heading-three);
}
