/* Skeleton */
.sponsor-skeleton-wrapper {
  min-height: 100vh;
  background-color: var(--bg-dark-blue);
  justify-content: center;
  display: flex;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  max-width: 1100px;
}

.big-cards-wrapper,
.small-cards-wrapper {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 1040px) {
  .small-cards-wrapper {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .cards-container {
    max-width: 600px;
    gap: 2rem;
  }
  .small-cards-wrapper {
    gap: 2rem;
  }
}

@media only screen and (max-width: 425px) {
  .cards-container {
    max-width: 425px;
  }
}
