.wrapper {
  background-image: url(../../../public/assets/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 180px;
  padding-bottom: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button-heading-wrapper h1 {
  font-size: var(--h--step-3);
}

.wave-container {
  position: absolute;
  bottom: 0rem;
  width: 100%;
}

@media screen and (max-width: 750px) {
  .wrapper {
    height: 140px;
    padding-bottom: 10px;
  }
}
