.modal {
  z-index: 10;
  background-color: var(--bg-dark-blue);
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 8rem;
}

.modal-close-icon {
  color: #fff;
  cursor: pointer;
}

.close-btn-container {
  position: absolute;
  top: 5%;
  right: 5%;
}

.modal-heading {
  color: #fff;
  font-family: "Comfortaa";
  font-weight: 500;
  font-size: var(--heading-three);
}

.image-container {
  max-width: 100rem;
  width: 100%;
}

.image {
  width: 100%;
  object-fit: cover;
}

.paragraph-container {
  max-width: 80%;
}

@media screen and (max-width: 140rem) {
  .modal {
    width: 90%;
  }

  .paragraph-container {
    max-width: 95%;
  }
}
