.parallax-text {
  /* Box style */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  gap: 50px;

  /* Parallax */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Temporary */
  font-size: 30px;
  color: white;
}

/* Button */

.parallax-button {
  z-index: 10;
}

.button-enter {
  opacity: 0;
}

.button-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in-out;
}

.button-exit {
  opacity: 0;
}

.button-exit-active {
  opacity: 1;
  transition: opacity 1000ms ease-in-out;
}
/* Parallax */

.parallax-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.parallax-enter-active,
.parallax-exit-active {
  opacity: 1;
  transform: translateX(0%);
  transition: transform 1000ms ease-in-out, opacity 1000ms ease-in-out;
}

.parallax-exit {
  opacity: 1;
  transform: translateX(0%);
}

.parallax-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 1000ms ease-in-out, opacity 1000ms ease-in-out;
}
