.parallax {
  /* Box style */
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
  height: 700px;

  /* Parallax */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Temporary */
  font-size: 30px;
  color: white;
}

.heading {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 1000;
}

.left-element-0 {
  left: 100px;
}

.left-element-1 {
  left: 200px;
}

.left-element-2 {
  left: 300px;
}
