.wrapper {
  background-image: url(../../../public/assets/header-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--h--step-3);
}
