.card {
  width: 673px;
  height: 519px;
  border: 2px solid black;
  background-color: #172327;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.text-container {
  color: #f2fef2;
  height: 40%;
  width: 100%;
  display: grid;
  align-items: center;
  padding: 8px;
}

.text-container h3 {
  margin: 0;
}

.text-container p {
  font-size: 20px;
}
