/* blogImageSlider.module.css */

.image-swiper-container {
  position: relative;
}

.image-swiper {
  width: 100%;
  height: 400px;
}

.swiper-preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.swiper-preview-image:hover {
  opacity: 1;
}

.swiper-focus-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview-swiper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  margin-bottom: 20px;
  z-index: 1;
}

.preview-swiper .swiper-slide {
  width: 120px;
  height: 80px;
  margin-right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .preview-swiper .swiper-slide {
    width: 80px;
    height: 60px;
    margin-right: 5px;
  }
}
