.card {
  width: 100%;

  box-shadow: var(--box-shadow);
  background-color: var(--very-dark-blue);
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
}

.image-wrapper {
  width: 250px;
  position: relative;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: all 0.5s ease;
}

.stretched {
  width: 100%;
  height: 100%;
}

.notStretcehed {
  height: auto;
}

.card-text-wrapper {
  background-color: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 2rem 2rem 2rem;
}

.name {
  font-size: 2.5rem;
  font-family: Comfortaa;
  color: var(--light-text-color);
}

.role {
  font-size: 1.8rem;
  font-family: Comfortaa;
  color: var(--light-text-color);
}

.read {
  font-weight: bold;
}

.card :hover {
  cursor: pointer;
}

.card :hover .read {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 250px;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr;
  }
}

@media only screen and (max-width: 520px) {
  .card {
    width: 80%;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr;
  }
  .image-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .card {
    width: 90%;
  }
}

@media only screen and (max-width: 326px) {
  .card {
    width: 300px;
  }
}
