.icons-enter {
  opacity: 0;
}

.icons-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.icons-exit {
  opacity: 0;
}

.icons-exit-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.hamburger-icons {
  cursor: pointer;
}

.menu-icon {
  color: var(--light-text-color);
  cursor: pointer;
}
/*--Menu--*/
.menu-enter {
  opacity: 0;
  transform: translateX(100%);
}

.menu-enter-active,
.menu-exit-active {
  opacity: 1;
  transform: translateX(0%);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.menu-exit {
  opacity: 1;
  transform: translateX(0%);
}

.menu-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.menu {
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: 8rem;
  right: 0;
  background-color: var(--very-dark-blue);
  padding: 10px;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 0;
  z-index: 10;
  box-shadow: var(--box-shadow);
}

.menu-button {
  background-color: transparent;
  border: none;
}

.sr-menu {
  visibility: hidden;
}

.page-link {
  text-decoration: none;
  color: var(--light-text-color);
  font-family: "Comfortaa";
  font-size: var(--p--step-2);
  margin: 5rem;
  padding: 2rem 0;
}

.page-link:hover {
  text-shadow: 2px 2px 2px var(--bg-pink-brown);
}
