.wrapper {
  background-color: var(--bg-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 100vh;
}

.image-box,
.text-box {
  width: 500px;
  height: 400px;
  box-shadow: var(--box-shadow);
  border-radius: 16px;
  background-color: var(--very-dark-blue);
}

.image {
  border-radius: 16px;
  width: 100%;
  height: 100%;
}

.text-box-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
  padding: 3rem;
}

.text-box-heading {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.donate-button {
  width: 15rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  text-transform: uppercase;
  color: var(--light-text-color);
  background-color: var(--donate-button);
  border: none;
  box-shadow: var(--box-shadow);
}

@media only screen and (max-width: 1200px) {
  .image-box,
  .text-box {
    width: 400px;
    height: 350px;
  }
}

@media only screen and (max-width: 860px) {
  .wrapper {
    flex-direction: column;
    gap: 4rem;
    height: auto;
    padding: 4rem 0;
  }
}

@media only screen and (max-width: 600px) {
  .image-box,
  .text-box {
    width: 400px;
    height: 350px;
  }
}

@media only screen and (max-width: 425px) {
  .image-box,
  .text-box {
    width: 350px;
    height: 300px;
  }
}
